In [36]:
from ExpAlgae.model.COBRAmodel import *
from ExpAlgae import DATA_PATH

In [37]:
model = MyModel(join(DATA_PATH, 'models/model_plutheri.xml'), 'e_Biomass__in')

Loading

2686093 does not conform to 'http(s)://identifiers.org/collection/id' or'http(s)://identifiers.org/COLLECTION:id

Reactions: 2225
Metabolites: 2075
Genes: 1180
Model loaded

In [44]:
model.create_sink("C00025__in")
model.create_sink("C00169__in")
model.create_sink("C00002__in")
model.create_sink("C00143__in")
model.create_demand("C00390__in")
model.create_demand("C00415__in")
model.create_demand("C00147__in")

In [39]:
model.create_tRNAs_reactions()

In [40]:
model.test_reaction("R00190__in")

                                              Flux
Adenine                                   0.000000
5-Phospho-alpha-D-ribose 1-diphosphate  333.333333

In [41]:
model.test_reaction("R05000__in")

                                        Flux
4-Hydroxybenzoate                 812.500000
all-trans-Nonaprenyl diphosphate   98.901099

In [46]:
model.test_reaction("e_Pigment__in")

                Flux
beta-Carotene  125.0
Chlorophyll b    0.0
Chlorophyll a    0.0

In [45]:
model.test_reaction("e_Biomass__in")

                       Flux
e-Pigment          0.000000
e-Protein        166.381164
e-Cofactor      1000.000000
e-Lipid            0.000000
e-DNA            424.932217
e-RNA            515.278480
e-Carbohydrate   171.126561